@media (min-width: 1000px) {
    
    #grid {

        min-width: 1000px;
        width:49vw; 
        grid-template-columns: 30% 69%; 

    }
}
@media (max-width: 1000px) {
    
    #grid {
        width: 90%;
        font-size: 0.7em;
        grid-template-columns: 49% 50%; 
    }
}

body {
    margin-top:1vh; 
    margin-bottom:1vh;
    padding:0; 
    background-color: #eeeeee;
    font-family: 'Roboto', sans-serif;
}
#grid {
    margin-left: auto; 
    margin-right: auto; 
    box-shadow: 0px 0px 6px 1px rgba(0,0,0,0.75);
    padding: 0.5vw; 
    background-color: white;
    min-height: 1024px;
    display:grid;
    grid-column-gap: 1%;
}
.grid-item-left {
    color: white; 
    background-color: #3D5561; 
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
    padding: 5%; 
    position:relative; 
}
.grid-item-left h3 {

    text-align: center;
    margin-bottom:0; 
}
.grid-item-left img {

    width:100%; 
}
.grid-item-right {
    background-color:#f8f8ff; 
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
}
.grid-item-right h1 {
    text-align: center;
}
.light-grey-background {
    background-color: #4C6977; 
}

.icon-phone {
    background-image: url("phone.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;   
    height: 1em;
    width: 1em;
    display:inline-block;
}
.icon-mail {
    background-image: url("mail.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;   
    height: 1em;
    width: 1em;
    display:inline-block;
}
.icon-github {
    background-image: url("github.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;   
    height: 1em;
    width: 1em;
    display:inline-block;
}
.icon-website {
    background-image: url("website.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;   
    height: 1em;
    width: 1em;
    display:inline-block;
}
a {
    color:white; 
}
#title {
    margin-top: 0;
    text-align: center;
}
.under-over-line {
    padding-top:3px; 
    padding-bottom:3px; 
    border-top:1px solid black;
    border-bottom:1px solid black;
}
#download-button {
    position:absolute; 
    width:90%;
    height:3em; 
    background-color:rgb(49, 67, 77); 
    bottom: 5px; 
    transition: 0.2s linear;

} 
#download-button a {
    position: absolute;
    color:white; 
    height:100%; 
    text-align: center;
    width:100%; 
    line-height:3em;
    text-decoration: none;
}

#download-button:hover {
    background-color: #4C6977; 
}