p {
    font-size: 0.8vw;
}
h1 {
    font-size: 2vw;
}
h2 {
    font-size: 1.5vw;
}
h3 {
    font-size: 1vw;
}
body {
    margin-top:1vh; 
    margin-bottom:1vh;
    padding:0; 
    background-color: #eeeeee;
    font-family: 'Roboto', sans-serif;
}
#grid {
    box-shadow: 0px 0px 6px 1px rgba(0,0,0,0.75);
    width:49vw; 
    margin-left: 25vw; 
    margin-right: 25vw; 
    padding: 0.5vw; 
    background-color: white;
    height: calc(49vw * 1.414);/*A4 ratio*/
    display:grid;
    grid-column-gap: 1%;
    grid-template-columns: 30% 69%; 
}
.grid-item-left {
    color: white; 
    background-color: #3D5561; 
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
    padding: 5%; 
}
.grid-item-left h3 {

    text-align: center;
    margin-bottom:0; 
}
.grid-item-left img {

    width:100%; 
}
.grid-item-right {
    background-color:#f8f8ff; 
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
}
.grid-item-right h1 {
    text-align: center;
}
.light-grey-background {
    background-color: #4C6977; 
}

.icon-phone {
    background-image: url("phone.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;   
    height: 1em;
    width: 1em;
    display:inline-block;
}
.icon-mail {
    background-image: url("mail.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;   
    height: 1em;
    width: 1em;
    display:inline-block;
}
.icon-github {
    background-image: url("github.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;   
    height: 1em;
    width: 1em;
    display:inline-block;
}
.icon-website {
    background-image: url("website.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;   
    height: 1em;
    width: 1em;
    display:inline-block;
}
a {
    color:white; 
}
#title {
    margin-top: 0;
    text-align: center;
}